<!-- Preloader - style you can find in spinners.css -->
<!-- <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div> -->
<!-- End Preloader -->

<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- Unix-Login -->
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Forgot Password</h4>
                            <form [formGroup] = "forgotPassForm" (submit) = 'forgotPassword()'>
                                <!-- Form Group Email -->
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                    <div *ngIf="forgotPassForm.get('email').invalid &&  forgotPassForm.get('email').touched">
                                        <div *ngIf="forgotPassForm.get('email').hasError('required')" class="alert alert-danger">
                                            Please enter your email.
                                        </div>
                                        <div *ngIf="!forgotPassForm.get('email').hasError('required') && forgotPassForm.get('email').hasError('email')" class="alert alert-danger">
                                            Please enter a valid email address.
                                        </div>
                                    </div>
                                </div>
                                <!-- Form Group -->

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [disabled] = "forgotPassForm.invalid || loading">Forgot Password</button>
                                <!-- Submit Button -->

                                <!-- Registration Link -->  
                                <div class="register-link m-t-15 text-center">
                                    <p>Don't have account ? <a [routerLink]="['/registration']"> Sign Up Here</a></p>
                                </div>
                                <!-- End Registration Link -->  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Unix-Login -->
</div>
<!-- End Main wrapper  -->
    